* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    background-color: rgb(142, 142, 245);
}

.logo {
    font-size: 2rem;
    transition: 0.5 ease;
    font-weight: 700;
    color: black;
    font-weight: 800;
}
.logo:hover{
    transform: scale(1.1);
    color: rgb(99, 99, 224);
}

.logo:after {
    content: '';
    display: block;
    border-bottom: 2px solid black;
    transform: scale(0);
    transition: 0.3s linear;
}

.logo:hover::after {
    transform: scaleX(0.8);
}

.gambar {
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.gambar img {
    border-radius: 50%;
    position: relative;
    width: 32vw;
    margin-top: 20px;
}

.jeni {
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.jeni p {
    padding: 0.8rem 3%;
}

.btn {
    border-radius: 2rem;
    background-color: black;
    color: #fff;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 800;
    transition: 2px solid rgb(99, 99, 224);
    border: 2px solid  rgb(99, 99, 224);
    cursor: pointer;
}

.btn:hover {
    transform: scale3d(1.03);
    background-color:  rgb(99, 99, 224);
    color: black;
    box-shadow: 0 0 25px  rgb(99, 99, 224);
}